
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

}

.titulo {
  grid-column: 1 / -1;
}
.info {
  display: grid;
  place-items: start;
  place-self: start;
  gap: 20px
}


/*
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 300px auto;
  grid-auto-rows: 200px;
}


.grid {
  display: grid;
  gap: 20px;
  grid-template-columns:repeat(2, 1fr) ;}
  
  /*repete 2 colunas de 1r cada uma


.preco {
  grid-area: 2/1;  /* linha 2 coluna 1 */

/* grid-template-rows: reapeat (3, 200px);   repete 3 linhas de 200px cada uma.


.item {
  grid-area: 2/2;  -- posiciona na segunda linha da segunda coluna respectivamente.
}


*/ 


/* Estilos Gerais */

body {
  font-family: Arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
